In [1]:
import pandas as pd

In [2]:
response_data = pd.read_csv("responses.csv", sep=";")

In [3]:
response_data

   Timestamp,How old are you?,Gender?,Marital status,Do you have a house?,Your job ?,Do you have a deposit?,What kind of education?,Do you have a loan ?,
0   2/24/2020 21:11:21,26-30,Male,married,yes,Heal...
1   2/24/2020 21:25:16,26-30,Male,single,no,"Scien...
2   2/24/2020 21:25:51,21-25,Female,single,no,Heal...
3   2/24/2020 21:52:27,26-30,Female,married,yes,"S...
4   2/24/2020 21:53:31,21-25,Male,single,no,"Scien...
..                                                ...
95  2/25/2020 11:03:24,36-45,Female,married,no,Man...
96  2/25/2020 11:03:32,31-35,Male,married,no,Manuf...
97  2/25/2020 11:03:51,36-45,Female,married,no,Man...
98  2/25/2020 11:04:10,36-45,Male,married,no,"Scie...
99  2/25/2020 11:04:17,26-30,Female,married,no,Man...

[100 rows x 1 columns]

In [4]:
response_data.head(7)

  Timestamp,How old are you?,Gender?,Marital status,Do you have a house?,Your job ?,Do you have a deposit?,What kind of education?,Do you have a loan ?,
0  2/24/2020 21:11:21,26-30,Male,married,yes,Heal...
1  2/24/2020 21:25:16,26-30,Male,single,no,"Scien...
2  2/24/2020 21:25:51,21-25,Female,single,no,Heal...
3  2/24/2020 21:52:27,26-30,Female,married,yes,"S...
4  2/24/2020 21:53:31,21-25,Male,single,no,"Scien...
5  2/24/2020 21:54:01,36-45,Male,married,yes,"Sci...
6  2/24/2020 21:54:28,26-30,Female,single,yes,"Ma...

Head(7)shows us first 7 rows of table ,you can also left brackets empty and it shows us first 5 rows

In [5]:
response_data.tail(3)

   Timestamp,How old are you?,Gender?,Marital status,Do you have a house?,Your job ?,Do you have a deposit?,What kind of education?,Do you have a loan ?,
97  2/25/2020 11:03:51,36-45,Female,married,no,Man...
98  2/25/2020 11:04:10,36-45,Male,married,no,"Scie...
99  2/25/2020 11:04:17,26-30,Female,married,no,Man...

Tail means last rows in this example last 3 rows

In [16]:
response_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
Timestamp,How old are you?,Gender?,Marital status,Do you have a house?,Your job ?,Do you have a deposit?,What kind of education?,Do you have a loan ?,    100 non-null object
dtypes: object(1)
memory usage: 928.0+ bytes

As you can see,the data of analysis will help us find out the information about the client.What are the internal and external factors.We analyzed the data among our relatives.Now we will explain to you more specially what these factors mean:age(numeric),gender(male,female),then job position (categorical:(health science,technology,sales person,marketers,engineering,also student)And our research consist the question related deposits and loans.The table includes data type object.  Totally in this table there is  1 column, Info shows us how many non-null values table contain,their provide basic information,however null values make some analysis according to specific problem. In those table we see that there are same count of non-null values and also it’s equal to the 100 rows in data set. DataFrame contains at all 100,so there is no missing value.And we don’t need to replace any missing value. There are some categorical data has some advantages over unstructured,numerical data.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [11]:
pearsoncorr = response_data.corr(method= 'pearson')

In [12]:
pearsoncorr

Empty DataFrame
Columns: []
Index: []

In [13]:
response_data.describe()

       Timestamp,How old are you?,Gender?,Marital status,Do you have a house?,Your job ?,Do you have a deposit?,What kind of education?,Do you have a loan ?,
count                                                 100
unique                                                100
top     2/24/2020 22:28:17,36-45,Male,married,yes,"Mar...
freq                                                    1

 
This table shows us numeric data description.Each of the description column the data can be divided according to several criteria related our relatives.There are some categorical data has some advantages over unstructured,numerical data.